# ignore everything in the root except the "wp-content" directory.


# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory

# ignore these plugins


# ignore specific themes


# ignore node dependency directories

# ignore composer dependency directories


# ignore log files, databases and archives
*

# ignore miscellaneous files

# ignore miscellaneous files

